@import "abstracts/color";

$checkboxWidth: 20px;
$checkboxHeight: 20px;

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  margin: 3px 15px 0 0;
  width: $checkboxWidth;
  height: $checkboxHeight;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: $checkboxWidth;
  height: $checkboxHeight;
  top: 0;
  left: 0;
  border: 1px solid #d5d5d5;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid $color2;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 8px;
}
