$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$breakpointsMaxWidth: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
