.flex {
  display: flex;

  &-center-horizontally {
    display: flex;
    justify-content: center;
  }

  &-center-vertically {
    display: flex;
    align-items: center;
  }

}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-stretch {
  align-self: stretch;
}
