.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.row > [class^=col-] {
  position: relative;
  padding: 0 15px;
}

@include create-col();

@each $key, $value in $breakpoints {
  @include media($key) {
    @include create-container($key);
    @include create-col-with-breakpoint($key);
  }
}
